.ability{
    margin-top: 100px;
}
.ability__title h2{
    font-size: 42px;
    font-weight: 500;
}
.ability__box{
    margin-top: 40px;
    display: flex;
    gap: 30px;
}
.ability__card{
    width: 370px;
    height: 180px;
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
    border-radius: 60px 0px 60px 0px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
    transition: .5s;
}
.ability__card:hover{
    box-shadow: 10px 10px 7px rgb(189, 187, 187);
    transform: translate(-10px, -10px);
    cursor: pointer;
    background: #CAA892;
    color: #fff;
}
.ability__desc{
    width: 340px;
}
.ability__title{
    font-weight: 700;
}
.ability__img{
    margin-bottom: 20px;
    margin-left: 10px;
}

